<mat-card class="component-heading">
  <h2>Add A Book</h2>
</mat-card>

<mat-card class="card-container">
  <form [formGroup]="bookForm" class="grid" (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput placeholder="ex. Harry Potter" required formControlName="title" />
      <mat-error *ngIf="bookForm.controls.title.invalid">Invalid Title</mat-error>

    </mat-form-field>

    <mat-form-field appearance="outline" class="half-width">
      <mat-label>Author</mat-label>
      <input matInput formControlName="author" />
    </mat-form-field>

    <mat-form-field class="half-width" appearance="outline">
      <mat-label>UUID</mat-label>
      <input matInput formControlName="UUID" required/>
          <mat-error *ngIf="bookForm.controls.UUID.invalid">Invalid UUID</mat-error>

    </mat-form-field>

    <mat-form-field appearance="outline" class="half-width">
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" class="half-width">
      <mat-label>Cover Image Url</mat-label>
      <input matInput placeholder="https://images.com/image" formControlName="cover" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Summary</mat-label>
      <textarea matInput class="summary" formControlName="summary"></textarea>
    </mat-form-field>
    <mat-error *ngIf="error">The UUID you entered already exist </mat-error>

    <div class="full-width button">
      <button mat-raised-button color="primary">add</button>
    </div>


  </form>
</mat-card>