<mat-card class="component-heading">
  <h2>Add A Book</h2>
</mat-card>

<mat-card class="card-container">
  <form class="form">
    <div class="grid">
      <div class="full-width">
        <mat-form-field>
          <mat-label>title</mat-label>
          <input matInput placeholder="ex. Harry Potter"  required/>
        </mat-form-field>
      </div>

      <div class="half-width">
        <mat-form-field>
          <mat-label>Author</mat-label>
          <input matInput />
        </mat-form-field>
      </div>

      <div class="half-width">
        <mat-form-field>
          <mat-label>UUID</mat-label>
          <input matInput required/>
        </mat-form-field>
      </div>

      <div class="half-width">
        <mat-form-field>
          <mat-label>Date</mat-label>
          <input matInput placeholder="Ex. San Francisco" />
        </mat-form-field>
      </div>

      <div class="half-width">
        <mat-form-field>
          <mat-label>Cover Image Url</mat-label>
          <input matInput placeholder="Ex. California" />
        </mat-form-field>
      </div>
      <div class="full-width">
          <mat-form-field>
            <mat-label>Summary</mat-label>
            <textarea matInput placeholder="Ex. 100 Main St">
          
            </textarea>
          </mat-form-field>
      </div>


      <div class="full-width button">
        <button  mat-raised-button color="primary">add</button>
      </div>
    </div>

  </form>
</mat-card>