<mat-card class="component-heading">
  <h2>available books</h2>
</mat-card>
<div class="book-list">
  <mat-card class="book-card">


    <mat-card-content class="content">
      <img
        src="https://upload.wikimedia.org/wikipedia/en/thumb/6/6b/Harry_Potter_and_the_Philosopher%27s_Stone_Book_Cover.jpg/220px-Harry_Potter_and_the_Philosopher%27s_Stone_Book_Cover.jpg"
        alt="book-img" class="book-img">
      <div>
        <h2>Harry Potter and the Sorcerer's Stone</h2>
        <h4>J.K. Rowling</h4>
        <p>"date": "Jul 30,1997",
          "summary": "Harry Potter has no idea how famous he is. That's because he's being raised by his miserable aunt
          and
          uncle
          who are terrified Harry will learn that he's really a wizard, just as his parents were. But everything changes
          when
          Harry is summoned to attend an infamous school for wizards, and he begins to discover some clues about his
          illustrious
          birthright. From the surprising way he is greeted by a lovable giant, to the unique curriculum and colorful
          faculty at
          his unusual school, Harry finds himself drawn deep inside a mystical world he never knew existed and closer to
          his own
          noble destiny"</p>
                  <mat-card-actions>
                    <button mat-raised-button color="primary">view</button>
                    <button mat-raised-button color="accent">edit</button>
                    <button mat-raised-button color="warn">delete</button>
                  </mat-card-actions>
      </div>


    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
  <mat-card class="book-card">


    <mat-card-content class="content">
      <img
        src="https://upload.wikimedia.org/wikipedia/en/thumb/6/6b/Harry_Potter_and_the_Philosopher%27s_Stone_Book_Cover.jpg/220px-Harry_Potter_and_the_Philosopher%27s_Stone_Book_Cover.jpg"
        alt="book-img" class="book-img">
      <div>
        <h2>Harry Potter and the Sorcerer's Stone</h2>
        <h4>J.K. Rowling</h4>
        <p>"date": "Jul 30,1997",
          "summary": "Harry Potter has no idea how famous he is. That's because he's being raised by his miserable aunt
          and
          uncle
          who are terrified Harry will learn that he's really a wizard, just as his parents were. But everything changes
          when
          Harry is summoned to attend an infamous school for wizards, and he begins to discover some clues about his
          illustrious
          birthright. From the surprising way he is greeted by a lovable giant, to the unique curriculum and colorful
          faculty at
          his unusual school, Harry finds himself drawn deep inside a mystical world he never knew existed and closer to
          his own
          noble destiny"</p>
                  <mat-card-actions>
                    <button mat-raised-button color="primary">view</button>
                    <button mat-raised-button color="accent">edit</button>
                    <button mat-raised-button color="warn">delete</button>
                  </mat-card-actions>
      </div>


    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
  <mat-card class="book-card">


    <mat-card-content class="content">
      <img
        src="https://upload.wikimedia.org/wikipedia/en/thumb/6/6b/Harry_Potter_and_the_Philosopher%27s_Stone_Book_Cover.jpg/220px-Harry_Potter_and_the_Philosopher%27s_Stone_Book_Cover.jpg"
        alt="book-img" class="book-img">
      <div>
        <h2>Harry Potter and the Sorcerer's Stone</h2>
        <h4>J.K. Rowling</h4>
        <p>"date": "Jul 30,1997",
          "summary": "Harry Potter has no idea how famous he is. That's because he's being raised by his miserable aunt
          and
          uncle
          who are terrified Harry will learn that he's really a wizard, just as his parents were. But everything changes
          when
          Harry is summoned to attend an infamous school for wizards, and he begins to discover some clues about his
          illustrious
          birthright. From the surprising way he is greeted by a lovable giant, to the unique curriculum and colorful
          faculty at
          his unusual school, Harry finds himself drawn deep inside a mystical world he never knew existed and closer to
          his own
          noble destiny"</p>
                  <mat-card-actions>
                    <button mat-raised-button color="primary">view</button>
                    <button mat-raised-button color="accent">edit</button>
                    <button mat-raised-button color="warn">delete</button>
                  </mat-card-actions>
      </div>


    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
  <mat-card class="book-card">


    <mat-card-content class="content">
      <img
        src="https://upload.wikimedia.org/wikipedia/en/thumb/6/6b/Harry_Potter_and_the_Philosopher%27s_Stone_Book_Cover.jpg/220px-Harry_Potter_and_the_Philosopher%27s_Stone_Book_Cover.jpg"
        alt="book-img" class="book-img">
      <div>
        <h2>Harry Potter and the Sorcerer's Stone</h2>
        <h4>J.K. Rowling</h4>
        <p>"date": "Jul 30,1997",
          "summary": "Harry Potter has no idea how famous he is. That's because he's being raised by his miserable aunt
          and
          uncle
          who are terrified Harry will learn that he's really a wizard, just as his parents were. But everything changes
          when
          Harry is summoned to attend an infamous school for wizards, and he begins to discover some clues about his
          illustrious
          birthright. From the surprising way he is greeted by a lovable giant, to the unique curriculum and colorful
          faculty at
          his unusual school, Harry finds himself drawn deep inside a mystical world he never knew existed and closer to
          his own
          noble destiny"</p>
                  <mat-card-actions>
                    <button mat-raised-button color="primary">view</button>
                    <button mat-raised-button color="accent">edit</button>
                    <button mat-raised-button color="warn">delete</button>
                  </mat-card-actions>
      </div>


    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
  <mat-card class="book-card">


    <mat-card-content class="content">
      <img
        src="https://upload.wikimedia.org/wikipedia/en/thumb/6/6b/Harry_Potter_and_the_Philosopher%27s_Stone_Book_Cover.jpg/220px-Harry_Potter_and_the_Philosopher%27s_Stone_Book_Cover.jpg"
        alt="book-img" class="book-img">
      <div>
        <h2>Harry Potter and the Sorcerer's Stone</h2>
        <h4>J.K. Rowling</h4>
        <p>"date": "Jul 30,1997",
          "summary": "Harry Potter has no idea how famous he is. That's because he's being raised by his miserable aunt
          and
          uncle
          who are terrified Harry will learn that he's really a wizard, just as his parents were. But everything changes
          when
          Harry is summoned to attend an infamous school for wizards, and he begins to discover some clues about his
          illustrious
          birthright. From the surprising way he is greeted by a lovable giant, to the unique curriculum and colorful
          faculty at
          his unusual school, Harry finds himself drawn deep inside a mystical world he never knew existed and closer to
          his own
          noble destiny"</p>
        <mat-card-actions>
          <button mat-raised-button color="primary">view</button>
          <button mat-raised-button color="accent">edit</button>
          <button mat-raised-button color="warn">delete</button>
        </mat-card-actions>
      </div>


    </mat-card-content>

  </mat-card>

</div>