.sidenavContainer{
height: 100vh;

}

.sidenav{
  width: 220px;
  height: 100vh;
      background: #3b6076;
      color: #F0F0F0;
      padding: 15px;
}
.sidenavToolbar{
  background: #000000;
  color:  #F0F0F0;
  text-align: center;
  box-shadow: 10px 0 10px #888888;
}
.sidenavToolbar h1{
  margin: auto;
}
.list{
  list-style: none;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
}
.list-item{
  padding: 0px 20px 20px 20px;
  font-size: 1rem;
  font-weight: 700;
}
.list-item a ,.list-item a:visited  {
text-decoration: none;
color: #F0F0F0;
}
.list-item:hover{
  background: #365a6f;
}
.icon{
  color:#4FAB0C;
  margin-right: 30px ;
  margin-top: 20px;
}

